@model CrudInfotrack.Models.Materia
@{
    ViewData["Title"] = "Editar Materia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-sm-12">
            <h3>Editar materia</h3>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Edit">

                <input type="hidden" asp-for="Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Editar Materia" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>


</div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}



